#navbar {
  height: 90px;
  width: 100%;
  margin: 0;
  border: 2px solid black;
}

/* header css */
#header {
  width: 100%;
  display: flex;
  background-color: white;
  padding: 6px;
  border-bottom: 1px solid lightgray;
}
.img {
  display: flex;
  width: 33%;
  margin-left: 7%;
  align-items: center;
}
.img img {
  width: 42%;
}
.img h4 {
  padding-left: 23px;
  color: grey;
}
.img span {
  color: #df561d;
}
.rightHead {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 44%;
}

.freshpass {
  background-color: #fbd020;
  height: 123%;
  padding-top: 12px;
  cursor: pointer;
}
.freshpass p {
  padding: 0 12px;
  font-weight: bold;
}

.freshpass p i {
  margin-left: -2px;
  padding-right: 8px;
}
.try {
  background-color: #603b6d;
  height: 123%;
  padding-top: 22px;
  cursor: pointer;
}
.try p {
  padding: 0 14px;
  font-weight: bold;
  color: white;
}
.dapps {
  display: flex;
  align-items: center;
  padding-left: 23px;
  cursor: pointer;
  font-weight: bold;
  color: grey;
  transition: 0.1s ease-in;
}

.dapps:hover {
  color: #e85826;
}

/* body css */

#container {
  height: 1800px;
  width: 100%;
  /* display: flex; */
  border: 2px solid black;
}

#container1 {
  height: 600px;
  width: 100%;
  display: flex;
  margin-top: 20px;
  border: 2px solid blue;
}

#container2 {
  height: 430px;
  width: 100%;
  margin-top: 100px;
  border: 2px solid black;
}

#container3 {
  height: 400px;
  width: 100%;
  margin-top: 35px;
  border: 2px solid red;
}
#meal_image {
  height: 420px;
  width: 600px;
  border: 2px solid black;
  margin-right: 30px;
  margin-left: 50px;
}

#meal_details {
  height: 600px;
  width: 650px;
  border: 2px solid black;
}

h1 {
  overflow: hidden;
  text-align: center;
}

h1:before,
h1:after {
  background-color: black;
  height: 1px;
  display: inline-block;
  content: "";
  position: middle;
  vertical-align: middle;
  width: 10%;
}

h1:before {
  right: 0.5em;
  margin-left: -90%;
}

h1:after {
  left: 0.5em;
  margin-right: -90%;
}

#recomm {
  height: 300px;
  width: 70%;
  margin-top: 20px;
  display: flex;
  border: 2px solid black;
  margin-left: 15%;
}

#recomm > div {
  height: 90%;
  width: 24%;
  margin-top: 15px;
  margin-right: 20px;
  border: 2px solid blue;
}
.imag {
  height: 60%;
  width: 100%;
  border: 1px solid black;
}

.im_det {
  height: 40%;
  width: 100%;
  border: 1px solid black;
}

.mealname {
  height: 50%;
  width: 100%;
  border: 1px solid black;
}

.mprice {
  height: 50%;
  width: 100%;
  border: 1px solid black;
  display: flex;
  justify-content: space-between;
}

/* new header part */

/*header part*/

/* #upper_nav {
  height: 65px;
  width: 100%;
  border-bottom: 1px solid silver;
  display: flex;
  align-content: center;
}
#freshmenu_logo_div {
  width: 200px;
  height: 100%;
  margin-left: 10%;
  align-self: center;
  cursor: pointer;
}
#freshmenu_logo {
  height: 80px;
  width: 150px;
  align-self: center;
}
#deliverTo_div {
  width: 270px;
  height: 100%;
  color: silver;
  font-size: 15px;

  align-items: center;
  display: flex;
  gap: 10px;
  font-weight: 500;
}
#deliverTo_div p {
  color: rgb(232, 88, 40);
  font-weight: 700;
  cursor: pointer;
}
#deliver_arrow {
  height: 15px;
  width: auto;
  align-self: center;
  cursor: pointer;
}
#freshpass_div {
  height: 100%;
  width: 150px;
  background-color: gold;
  color: black;
  margin-left: 20%;
  justify-content: center;
  cursor: pointer;
}
/* #freshpass_logo{
    height:20px;
    width:auto;
    
    align-self: center;
    background: transparent;
} */
/* #freshpass_div_p1 {
  font-size: 16px;
  font-weight: 800;
  margin-left: 40px;
  margin-top: 20px;
}
#freshpass_div_p2 {
  font-size: 10px;
  font-weight: 600;
  margin-left: 38px;
}
#freshclub_div {
  height: 100%;
  width: 150px;
  background-color: darkslateblue;
  color: white;
  font-size: 13px;
  cursor: pointer;
}
#freshclub_div p {
  margin-top: 25px;
  margin-left: 25px;
  font-weight: 700;
}
#freshclub_logo {
  height: 10px;
  width: auto;
}
#downloadApp_div {
  height: 100%;
  width: 150px;
  font-size: 14px;
  cursor: pointer;
}
#downloadApp_div p {
  margin-top: 25px;
  margin-left: 10px;
  font-weight: 600;
  color: rgb(82, 81, 81);
}
#downloadApp_div p:hover {
  color: chocolate;
}

#lower_nav {
  height: 65px;
  width: 100%;

  display: flex;
  align-content: center;
}

#search_div {
  height: 40px;
  width: 120px;
  border-radius: 20px;
  justify-self: center;
  display: flex;
  margin-left: 60%;
  margin-top: 8px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#search_div:hover {
  background-color: rgb(212, 211, 211);
}
#search_logo {
  height: 20px;
  width: auto;
  margin-top: 5px;
}
#search_div p {
  font-size: 15px;
  font-weight: 600;
  margin-left: 2px;
  color: rgb(82, 81, 81);
}

#offers_div {
  height: 30px;
  width: 80px;
  margin-left: 1%;
  padding-top: 10px;
  text-align: center;
  font-size: 15px;
  margin-top: 8px;
  border-radius: 18px;
  cursor: pointer;
  color: rgb(82, 81, 81);
  font-weight: 600;
}
#offers_div:hover {
  background-color: rgb(212, 211, 211);
}
#help_div {
  height: 30px;
  width: 30px;
  margin-left: 1.5%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#help_div:hover {
  background-color: rgb(212, 211, 211);
}
#help_logo {
  height: 40px;
  width: auto;
  cursor: pointer;
}

#signup_div {
  height: 30px;
  width: 30px;
  margin-left: 3%;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}
#signup_div:hover {
  background-color: rgb(212, 211, 211);
}
#signup_logo {
  height: 30px;
  width: auto;
  cursor: pointer;
}
#cart_div {
  background-color: rgb(212, 211, 211);
  height: 90%;
  width: 60px;
  margin-left: 3%;
  justify-content: center;
  align-items: center;
}
#cart_logo {
  height: 40px;
  width: auto;
  margin-top: 10px;
  margin-left: 10px;
  cursor: pointer;
} */
